*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

a,
a:hover,
a:link{
   text-decoration: none;
   color: #000;
}

/*****************************  PRODUCT LIST PAGE *****************************/

.navbar{
    background-color: #f5f5f5;
    height: 4rem;
    border-bottom: 1px solid #bdbdbd;
}

.nav-logo{
    float: left;
    padding: 2rem;
}

.nav-links li{
    list-style: none;
    float: right;
    padding: 2rem;
}

.category-links{
    height: 3rem;
    width: 80%;
    margin-left: 10%;
}

.category-links li{
    float:left;
    list-style: none;
    padding: 1rem;
}

.category-links li:first-child{
    float:left;
    list-style: none;
    padding: 1rem;
    margin-left: 10rem;
}


.category-border-length{
    border-bottom: 1px solid #bdbdbd;
}

.product-container{
    width:80%;
    margin-left: 10%;
}

.product-list li{
    list-style: none;
    float: left;
    margin: 1rem;
    background-color: #bdbdbd;
    width: 20%;
    height: 15rem;
    margin-top: 3rem;
}

.product-list img{
    width: 100%;
    height: 10rem;
}

.product-list a{
   text-align: center;
}

.product-list p{
    margin-top: 0.5rem;
 }

/*****************************  SINGLE PRODUCT PAGE *****************************/

.back-button{
    margin-left: 3rem;
}

.back-button button{
    padding: 0.3rem 1rem 0.3rem 1rem;
    background-color: #bdbdbd; 
    border: 1px solid #bdbdbd;
    border-radius: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.single-product-image{
    margin-left: 7rem;
    margin-top: 1rem;
}

.single-product-image img{
    width: 30rem;
    height: 20rem;
}

.product-heading{
    text-align: center;
    color: #000;
}

.cart-button button{
    background-color: #000;
    color: #fff;
    overflow: hidden;
    clear:both;
    width: 25rem;
    height: 2.5rem;
    margin-left: 10rem;
}