.navbar{
    background-color: #e4e4e4;
    border-bottom: 1px solid rgb(148, 146, 146);
  }
  
  .navbar-nav a{
    border-bottom: 1px solid transparent;
  }
  
  .navbar-nav a:hover,
  .navbar-nav a:active{
    border-bottom: 1px solid #000;
  }
  
  .nav-item,
  .nav-logo a{
    padding: 1rem;
    color: rgb(0, 0, 0);
  }
  
  .nav-logo a:hover,
  .nav-logo a:link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: hidden;
  }
  
  .nav-logo{
    font-family: Pacifico;
  }
  .nav-item a{
    color: rgb(0, 0, 0);
  }
  /* The side navigation menu */
  .sidebar {
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: #f1f1f1;
      position: fixed;
      height: 100%;
      overflow: auto;
    }
    
    /* Sidebar links */
    .sidebar a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
    }
    
    /* Active/current link */
    .sidebar a.active {
      background-color: #4CAF50;
      color: white;
    }
    
    /* Links on mouse-over */
    .sidebar a:hover:not(.active) {
      background-color: #555;
      color: white;
    }
    
    /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
    div.content {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }
    
    /* On screens that are less than 700px wide, make the sidebar into a topbar */
    @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
    }
    
    /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }
  
  
    .card-image{
        height: 300px;
        width: 300px;
    }
  
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial;
      margin: 0 auto; /* Center website */
      max-width: 800px; /* Max width */
      padding: 20px;
    }
    
    .heading {
      font-size: 25px;
      margin-right: 25px;
    }
    
    .fa {
      font-size: 25px;
    }
    
    .checked {
      color: orange;
    }
    
    /* Three column layout */
    .side {
      float: left;
      width: 15%;
      margin-top: 10px;
    }
    
    .middle {
      float: left;
      width: 70%;
      margin-top: 10px;
    }
    
    /* Place text to the right */
    .right {
      text-align: right;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* The bar container */
    .bar-container {
      width: 100%;
      background-color: #f1f1f1;
      text-align: center;
      color: white;
    }
    
    /* Individual bars */
    .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
    .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
    .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
    .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
    .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
    
    /* Responsive layout - make the columns stack on top of each other instead of next to each other */
    @media (max-width: 400px) {
      .side, .middle {
        width: 100%;
      }
      /* Hide the right column on small screens */
      .right {
        display: none;
      }
    }
    body{
        background-color: whitesmoke;
    }
    a,
  a:hover,
  a:link{
     text-decoration: none;
     color: #000;
     cursor: pointer;
  }
  /*****************************  FOOTER *****************************/
.footer{
  background-color: rgb(1, 1, 24);
  margin-top: 3rem;
}

.footer a{
  border-bottom:1px solid rgb(112, 102, 102);
  color: #fff;
  display: block;
  margin: 3rem;

}

.footer-social{
  margin-top: 3rem;
}

.footer-social a{
  border-bottom:1px solid rgb(1, 1, 24);
  display: inline;
}

.footer-copyright p{
  text-align: center;
  color: #fff;
  margin-top: 3rem;
}

.fa-social{
  font-size: 2rem;
  margin-top: 1rem;
}

.footer a:hover{
  color: rgb(146, 192, 252);
}