{% load static %}
{% load widget_tweaks %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/cart.css'%}">
    <script type="text/javascript">
      var user = '{{request.user}}';
      
      function get_token(name){
        var cookieValue = null;
        if(document.cookie && document.cookie!==''){
          var cookies = document.cookie.split(';');
          for(var i=0; i<cookies.length;i++){
              var cookie = cookies[i].trim();
              if(cookie.substring(0, name.length+1) === (name + '=')){
                 cookieValue = decodeURIComponent(cookie.substring(name.length+1));
                 break;
              }
          }
        }
        return cookieValue;
      }
      var csrftoken = get_token('csrftoken');
    </script>
</head>
<body>
<!----------------------Navbar--------------------------->
<header>
    <nav class="navbar navbar-expand-sm">
        <!-- Brand/logo -->
        <div class="nav-logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"</a>
        </div>
        <!-- Links -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">

          {% if user.is_authenticated and user.is_seller%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'seller_dashboard' %}">Seller dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
          {% else %}
               
              {% if user.is_authenticated and user.is_customer %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'customer_dashboard' %}">Account</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'seller_register' %}">Become a Seller</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Browse Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">My Cart</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'seller_register' %}">Become a Seller</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Browse Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'customer_register' %}">Sign up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_page' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">My Cart</a>
                  </li>
              {% endif %}
          {% endif %}
        </ul>
        </div>
    </nav>
</header>

<body>

      <div class="container">
         <div class="cart">
            <div class="cart-align">
               <h3>Shopping Cart</h3>
            </div>
            {% for item in cart %}
            {% with product=item.product %}
            <div class="col-md-12 col-lg-10 mx-auto">
               <div class="cart-item">
                  <div class="row">
                     <div class="col-md-7 center-item">
                        <img src="{{product.image.url}}" alt="">
                        <h5>{{product.name}}</h5>
                     </div>

                     <div class="col-md-5 center-item">
                        <div class="input-group number-spinner">
                                   
                           <td>
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input type="submit" value="Update">
                            {% csrf_token %}
                            </form>
                           </td>
                        </div>

                        <h5><span id = "iphonePrice">Tk.{{item.price}}</span></h5>
              
                        <h5> <span id = "iphonePrice">Tk.{{ item.total_price }}</span></h5>
                        <a href="{% url 'cart:cart_remove' product_id=product.id %}">Remove</a>
                        <img src="img/remove.png" alt="" class="remove-item">
                      </div>
                   </div>
                </div>
             {%endwith%}
             {%endfor%}
                       

           
               <div class="col-md-12 pt-4 pb-4">
                  <a href="{% url "cart:checkout" %}"><button type="button" class=" check-out">Check Out</button></a>
               </div>
            </div>
         </div>
      </div>
      {% if order %}
        <h1>Thank you</h1>
        <p>Your order has been successfully completed. Your order number is
      <strong>{{ order.id }}</strong>.</p>
      {%endif%}
      lass="col-md-4 footer-social">
             <a href="#"><i class="fa fa-facebook fa-social"></i></a>
             <a href="#"><i class="fa fa-twitter fa-social"></i></a>
             <a href="#"><i class="fa fa-instagram fa-social"></i></a>
          </div>
         </div>
         <div class="row">
           <div class="col-md-12">
           <div class="footer-copyright">
            <p>&copy<div class="footer">
         <div class="row">
           <div class="col-md-4">
              <a class="footer-font-color">About</a>
              <a class="footer-font-color">Trust &#38 Safety</a>
           </div>
           <div class="col-md-4">
            <a class="footer-font-color">Career</a>
            <a class="footer-font-color">Privacy & Terms</a>
          </div>
          <div c 2020 PANDA, Inc. All rights reserved </p>
          </div>
        </div>
         </div>
        </div>
      </footer>
     
   </body>
</html>
{% endblock %}