{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
<!----------------------Navbar--------------------------->
<header>
    <nav class="navbar navbar-expand-sm">
        <!-- Brand/logo -->
        <div class="nav-logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"</a>
        </div>
        <!-- Links -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"><i class="fa fa-bars"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">

          {% if user.is_authenticated and user.is_seller%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'seller_dashboard' %}">Seller dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
          {% else %}
               
              {% if user.is_authenticated and user.is_customer %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'customer_dashboard' %}">Account</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'seller_register' %}">Become a Seller</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Browse Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart:cart_detail' %}">My Cart</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'seller_register' %}">Become a Seller</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Browse Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'customer_register' %}">Sign up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_page' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart:cart_detail' %}">My Cart</a>
                  </li>
              {% endif %}
          {% endif %}
        </ul>
        </div>
    </nav>
</header>

<section>
    <div class="container">
        <div class="row">
           <div class="col-md-1"></div>
           <div class="col-xs-12 col-sm-12 col-md-10">
              <div class="genre-list-table">
                  <table>
                      {% if response %}
                  <tr>
                      <td colspan="1">Total amount</td>
                      <td colspan="1">{{response.element.0.currency_amount}}</td>
                  </tr>
                  <tr>
                      <td colspan="1">Transaction Date</td>
                      <td colspan="1">{{response.element.0.tran_date}}</td>
                  </tr>
                  <tr>
                      <td colspan="1">Transaction ID</td>
                      <td>{{response.element.0.tran_id}}</td>
                  </tr>
                  <tr>
                      <td colspan="1">Phone Number</td>
                      <td></td>
                      {% endif %}
                  </tr>
                  </table>
              </div>
           </div>
           <div class="col-md-1"></div>
        </div>
    </div>
</section>
<br><br><br><br><br>

<div class="footer">
    <div class="row">
      <div class="col-md-4">
         <a class="footer-font-color">About</a>
         <a class="footer-font-color">Trust &#38 Safety</a>
      </div>
      <div class="col-md-4">
       <a class="footer-font-color">Career</a>
       <a class="footer-font-color">Privacy & Terms</a>
     </div>
     <div class="col-md-4 footer-social">
        <a href="#"><i class="fa fa-facebook fa-social"></i></a>
        <a href="#"><i class="fa fa-twitter fa-social"></i></a>
        <a href="#"><i class="fa fa-instagram fa-social"></i></a>
     </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <div class="footer-copyright">
       <p>&copy 2020 PANDA, Inc. All rights reserved </p>
     </div>
   </div>
    </div>
   </div>
 </footer>
 
{% endblock %}