.navbar{
    background-color: #e4e4e4;
    border-bottom: 1px solid rgb(148, 146, 146);
  }
  
  .navbar-nav a{
    border-bottom: 1px solid transparent;
  }
  
  .navbar-nav a:hover,
  .navbar-nav a:active{
    border-bottom: 1px solid #000;
  }
  
  .nav-item,
  .nav-logo a{
    padding: 1rem;
    color: rgb(0, 0, 0);
  }
  
  .nav-logo a:hover,
  .nav-logo a:link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: hidden;
  }
  
  .nav-logo{
    font-family: Pacifico;
  }
  .nav-item a{
    color: rgb(0, 0, 0);
  }
body{
  background-color: whitesmoke;
}
.product-image{
  height: 400px;
  width: 350px;
  margin: 55px;
}
  .first-paragraph{
    margin-top: 30px; 
    color: grey;
  }
.second-paragraph{
  margin-top: 10px;
   color: grey;
}
.input-style{
  height: 150px ; 
  width: 300px; 
}
.submit-btn{
  width: 300px;
}
    /*****************************  FOOTER *****************************/
.footer{
  background-color: rgb(1, 1, 24);
  margin-top: 3rem;
}

.footer a{
  border-bottom:1px solid rgb(112, 102, 102);
  color: #fff;
  display: block;
  margin: 3rem;

}

.footer-social{
  margin-top: 3rem;
}

.footer-social a{
  border-bottom:1px solid rgb(1, 1, 24);
  display: inline;
}

.footer-copyright p{
  text-align: center;
  color: #fff;
  margin-top: 3rem;
}

.fa-social{
  font-size: 2rem;
  margin-top: 1rem;
}

.footer a:hover{
  color: rgb(146, 192, 252);
}
.footer-font-color{
  color: white;
}