{% extends 'seller/menu.html' %}
{% load static %}
{% block content %}

<div class="row" id="dashboard-homepage">  
    <div class="col-md-3"></div>   
      <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="dashboard-heading">
                <h5>Total Earned</h5>
                <p>Tk. 50,000</p>
          </div>
  
          <div class="dashboard-heading">
            <h5>Total Sales</h5>
            <img src="icons/transaction.png">
            <p>15</p>
          </div>
  
          <div class="dashboard-heading">
            <h5>Total Views</h5>
            <p>100,000</p>
          </div>
        </div>
        <div class="col-md-1"></div>
  
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="">
           
          </div>
        </div>
      </div>
    </div>
  </section>
  </body>
  </html>

 {% endblock %}