{% extends 'seller/menu.html' %}
{% load static %}
{% block content %}

   <!----------------------Products Section--------------------------->
<section>
        <div class="row" id="products">
           <div class="col-md-3"></div>
           <div class="col-md-7 col-sm-12">
             <div>
               <div class="row">
                <div class="col-md-8 seller-custom-search-form">
               
               </div>
               <div class="col-md-4 seller-add-product">
                 <a href="{% url 'add_product' pk=user.pk %}"><button>Add Product</button></a>
               </div>
             </div>
             </div>
             <div class="table-responsive product-table">
               <table class="table">
                 <tr>
                   <th>Product</th>
                   <th>Stock</th>
                   <th>Price</th>
                   <th>Category</th>
                   <th>Sold</th>
                   <th>Modify</th>
                 </tr>
                 {% for product in products %}
                    <td><a><img src="{{product.image.url}}">{{product.name}}</a></td>
                    <td>In Stock</td>
                    <td>{{product.price}}&#2547;</td>
                    <td>{{product.category}}</td>
                    <td>100 units</td>
                    <td><a href="{% url 'seller_modify_product' pk=product.pk seller=user.pk%}"><button>Modify<img class="edit-icon"src="{% static 'icons/edit.png' %}"></button></a></td>
                    </tr>
                 {% empty %}
                    <p>You did not add any products here yet :(</p>
                 {% endfor %}
                 
               </table>
             </div>
           </div>
           <div class="col-md-2"></div>
        </div>    
</section>

{% endblock %}


