{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="media_queries.css">
  <title>PANDA</title>
</head>
<body class="user-dashboard-body">
    <!----------------------Products Section--------------------------->
    <section>
        <div class="row" id="products">
           <div class="col-md-2"></div>
           <div class="col-md-10 col-sm-12">
             <div>
               <div class="row">
                <div class="col-md-8 seller-custom-search-form">
                <form>
                  <input type="date" placeholder="Today">
                  <label for="category-list">Category :</label>
                         <select name="" id="">
                           <option value=""> Phones & Accessories</option>
                           <option value=""> Kitchen Tools</option>
                           <option value=""> Baby Products</option>
                           <option value=""> Women's Clothing</option>
                           <option value=""> Men's Clothing</option>
                           <option value=""> Beauty, Hair & Health</option>
                           <option value=""> Shoes</option>
                           <option value=""> Bags</option>
                           <option value=""> Sports & Outdoors</option>
                           <option value=""> Home Improvement Tools</option>
                           <option value=""> Gadgets</option>
                         </select>
                     <input type="submit" value="Search">
                </form>
               </div>
               <div class="col-md-4 seller-add-product">
                 <a  href="{% url 'add_product' pk=user.pk %}""><button>Add Product</button></a>
               </div>
             </div>
             </div>
<div class="table-responsive product-table">
    <table class="table">
      <tr>
        <th>Product</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Category</th>
        <th>Sold</th>
        <th>Modify</th>
      </tr>
      <tr>
        {% for product in products %}
              <td><a><img src="{{product.image.url}}">{{product.name}}</a></td>
              <td>In Stock</td>
              <td>{{product.price}}&#2547;</td>
              <td>{{product.category}}</td>
              <td>100 units</td>
              <td><a onclick="change_content('edit-product')"><button>Modify<img class="edit-icon"src="{% static 'icons/edit.png' %}"></button></a></td>
              </tr>
        {% empty %}
              <p>You did not add any products here yet :(</p>
        {% endfor %}
      
    </table>
  </div>
  </div>
       </div>
</body>
</html>