body{
	background: #fff;
}
.navbar{
    background-color: #e4e4e4;
    border-bottom: 1px solid rgb(148, 146, 146);
}

.navbar-nav a{
    border-bottom: 1px solid transparent;
}

.navbar-nav a:hover,
.navbar-nav a:active{
    border-bottom: 1px solid #000;
}

.nav-item,
.nav-logo a{
    padding: 1rem;
    color: rgb(0, 0, 0);
}

.nav-logo a:hover,
.nav-logo a:link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: hidden;
}

.nav-logo{
    font-family: Pacifico;
}
.nav-item a{
    color: rgb(0, 0, 0);
}
.cart{
	margin: 100px 0;
	background-color: #F6F5FA;;
	padding: 60px 0;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 45px;
}
.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
}
.status{
	text-align: right;
}
.check-out{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cart-align{
	margin-left: 500px;
}
a,
a:hover,
a:link{
   text-decoration: none;
   color: #000;
   cursor: pointer;
}
