{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="media_queries.css">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <title>Panda</title>
</head>
<body>
    <!----------------------Navbar--------------------------->
    <header>
      <nav class="navbar navbar-expand-sm">
          <!-- Brand/logo -->
          <div class="nav-logo">
              <a href="#"><img src="../static/img/logo.png"</a>
          </div>
          <!-- Links -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"><i class="fa fa-bars"></i>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
  
            {% if user.is_authenticated and user.is_seller%}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'seller_dashboard' %}">Seller dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                 
                {% if user.is_authenticated and user.is_customer %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'seller_register' %}">Become a Seller</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'products' %}">Browse Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cart' %}">My Cart</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'seller_register' %}">Become a Seller</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'products' %}">Browse Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'customer_register' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login_page' %}">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cart' %}">My Cart</a>
                    </li>
                {% endif %}
            {% endif %}
          </ul>
          </div>
      </nav>
  </header>
   
    <!----------------------Search Item--------------------------->
    <section>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-xs-12 col-sm-12 col-md-6  category-border-length">
               <div class="product-search">
                <form  action="/">
                  <input type="text" placeholder="black T-shirt" name="search">
                  <button type="submit">Search</button>
                </form>
               </div>
            </div>
            <div class="col-md-3"></div>
         </div>
    </section>

    <!----------------------Product Category List--------------------------->
    <section>
        <div class="container-fluid">
           <div class="row">
             <div class="col-md-3 col-xs-12 col-sm-12">
               <div>
                <table class="category-table" border="1">
                  <tr>
                    <th>Categories</th>
                  </tr>
                  <tr >
                    <td><a><img src="{% static 'icons/mobile.png' %}"> Phones & Accessories</a> </td>
                  </tr>
                  <tr>
                    <td><a><img src="{% static 'icons/knife.png' %}"> Kitchen Tools</a> </td>
                  </tr>
                  <tr>
                    <td><a><img src="{% static 'icons/baby bottle.png' %}">  Baby Products</a> </td>
                  </tr>
                  <tr>
                    <td><a><img src="{% static 'icons/dress.png' %}">  Women's Clothing</a> </td>
                  </tr>
                  <tr>
                    <td><a><img src="{% static 'icons/men shirt.png' %}">  Men's Clothing</a> </td>
                  </tr>
                  <tr>
                    <td><a><img src="{% static 'icons/lipstick.png' %}">  Beauty, Hair & Health</a> </td>
                  </tr>
                  <tr>
                    <td><a><img src="{% static 'cons/shoe.png' %}">  Shoes</a> </td>
                  </tr>
                  <tr>
                    <td><a><img src="{% static 'icons/bag.png' %}">  Bags</a> </td>
                  </tr>
                  <tr>
                    <td><a><img src="{% static 'icons/ball.png' %}"> Sports & Outdoors</a> </td>
                  </tr>
                  <tr>
                    <td><a><img src="{% static 'icons/game.png' %}"> Home Improvement Tools</a> </td>
                  </tr>
                  <tr>
                    <td><a><img src="{% static 'icons/game.png' %}"> Gadgets</a> </td>
                  </tr>
                 
                </table>
               </div>
             </div>
             <div class="col-xs-12 col-sm-12 col-md-9">
               <div class="custom-search">
                  <form class="custom-search-form" action="{% url 'custom_search' %}" method="GET">
                    <div class="row">
                      <div clas="col-md-6 col-xl-6">
                        <label for="category-list">Category :</label>
                        <select name="category" id="">
                          <option value="Phones & Accessories"> Phones & Accessories</option>
                          <option value="Kitchen Tools"> Kitchen Tools</option>
                          <option value="Baby Products"> Baby Products</option>
                          <option value="Women's Clothing"> Women's Clothing</option>
                          <option value="Men's Clothing"> Men's Clothing</option>
                          <option value="Beauty, Hair & Health"> Beauty, Hair & Health</option>
                          <option value="Shoes"> Shoes</option>
                          <option value="Bags"> Bags</option>
                          <option value="Sports & Outdoors"> Sports & Outdoors</option>
                          <option value="Home Improvement Tools"> Home Improvement Tools</option>
                          <option value=" Gadgets"> Gadgets</option>
                        </select>
                      </div>
                      <div clas="col-md-6 col-xl-6">
                        <label for="category-list">Price :</label>
                        <input type="text" name="min" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Min"/><span> -</span>
                        <input type="text" name="max" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Max"/>
                      </div>
                    </div>

                    <div class="row">
                       <div class="col-md-12 col-xl-12">
                           <span><p>Sort by: </p></span>
                           <span><button>Best Match</button></span>
                           <span><button>Newest</button></span>
                           <span><button>Orders</button></span>
                       </div>
                    </div>

                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-xs-12 col-sm-12 col-md-10  signup-input">
                       <input type="submit" value="Search">
                      </div>
                      <div class="col-md-1"></div>
                  </div>
                  </form>
               </div>
             
              <div class="product-list">
                {% if products %}
                  {% for product in products %}
                      <a href="single_product.html">
                        <img src="{{product.image.url}}"/>
                        <p>{{product.name}} </p>
                        <p>Tk. {{product.price}}</p>
                      </a>
                  {% endfor %}                                                      
                {% else %}
                      {% if product %}
                      {% for prod in product %}
                          <a href="single_product.html">
                            <img src="{{prod.image.url}}"/>
                            <p>{{prod.name}} </p>
                            <p>Tk. {{prod.price}}</p>
                          </a>
                      {% endfor %}                                                      
                    {% else %}
                    <p>No products to show</p>
                    {% endif %}
                {% endif %}
             </div>

                <div class="pagination">
                  <a href="#">&laquo;</a>
                  <a href="#">1</a>
                  <a class="active" href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#">6</a>
                  <a href="#">&raquo;</a>
                  
                  </div>
            </div>
          </div>
            </div> 
    </div>                       
   </section>

    <!----------------------Footer---------------------------> 
    <footer>
      <div class="footer">
       <div class="row">
         <div class="col-md-4">
            <a>About</a>
            <a>Trust &#38 Safety</a>
         </div>
         <div class="col-md-4">
          <a>Career</a>
          <a>Privacy & Terms</a>
        </div>
        <div class="col-md-4 footer-social">
           <a href="#"><i class="fa fa-facebook fa-social"></i></a>
           <a href="#"><i class="fa fa-twitter fa-social"></i></a>
           <a href="#"><i class="fa fa-instagram fa-social"></i></a>
        </div>
       </div>
       <div class="row">
         <div class="col-md-12">
         <div class="footer-copyright">
          <p>&copy 2020 PANDA, Inc. All rights reserved </p>
        </div>
      </div>
       </div>
      </div>
    </footer>
</body>
</html>

{% endblock %}